@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* To prevent scrolling on body */
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #000000,
    #000000,
    #000000,
    #18093a,
    #18093a,
    #2e1b4d,
    #100033
  );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Send background behind content */
}

.content {
  position: relative;
  overflow-y: auto;
  height: 100vh;
  padding: 20px;
  color: white;
}



.katex-display {
  margin: .7em 0;
}

#plot-container {
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Clips content to match rounded border */
  background: #1d073d; /* Container background color */
  padding: 10px; /* Space around the plot */
  border: 5px solid #4b2e83; /* Border color and width */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}